body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00BFFF;
  overflow: hidden;
  font-family: sans-serif;
  left: -10px;
}
.giftcontainer {
  position: relative;
}
.giftcontainer::before {
  content: '';
  align-items: center;
  position: absolute;
  width: 170px;
  height: 20px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  top: 90px;
  left: -70px;
}
.gift{
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #FFFF00;
  left: -60px;
}
.gift::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 100px;
  background-color: #ec542f;
  left: 62px;
}
.gift::after{
  content: '';
  position: absolute;
  box-shadow: inset 0 10px rgba(0,0,0,0.3);
  width: 150px;
  height: 100px;
}
#click{
  display: none;
}
.click{
  position: absolute;
  background-color: #e45695;
  width: 170px;
  height: 40px;
  top:-40px;
  left: -10px;
  transform-origin: bottom left;
  transition: 0.3s;
  cursor: pointer;
}
.click::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 40px;
  background-color: #ec542f;
  left: 72px;
}
.click::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 30px solid #ec542f;
  border-top: 30px solid #ec542f;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 65px;
  top: -47px;
}
#click:checked+.click{
  transform: rotate(-110deg)scale(0.85);
}
#click:checked~.kertas{
  transform: translateY(-140px);
}
.kertas{
  font-family: fantasy;
  position: absolute;
  border-radius: 5px;
  width: 140px;
 transition: .5s;
 color:black;
 font-size: 13px;
 background-color: 0;
 text-transform: capitalize;
 text-align: center;
 z-index: -1;
 left: 0px;
}
